/* map section start */
.map-row{
    padding-top: 5%;
    padding-left: 6%;
    padding-bottom: 5%;
}

.hide{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    padding: 2%;
}


.location{
    color:grey
}

.unsearch {
    color:red;
}
.perception-booblehead-description{
    margin: -20px;
    margin-left: 120px
}

.explosive-booblehead-description{
    margin: 0px;
    margin-left: 470px;
}

.repair-booblehead-description{
    margin: 100px;
    margin-left: 200px;
}

.luck-booblehead-description{
    margin: 420px;
    margin-left: 580px;
}

.agility-booblehead-description{
    margin: 460px;
    margin-left: 470px;
}

.endurance-booblehead-description{
    margin: 480px;
    margin-left: 450px;
}

.unarmed-booblehead-description{
    margin: 410px;
    margin-left: 410px;
}

.smallguns-booblehead-description{
    margin: 420px;
    margin-left: 200px;
}

.bigguns-booblehead-description{
    margin: 500px;
    margin-left: 100px;
}

.medicine-booblehead-description{
    margin: 260px;
    margin-left: 190px;
}

.intelligence-booblehead-description{
    margin: 260px;
    margin-left: 280px;
}

.meele-booblehead-description{
    margin: 270px;
    margin-left: 28=90px;
}

.lock-booblehead-description{
    margin: 190px;
    margin-left: 360px;
}

.barter-booblehead-description{
    margin: 30px;
    margin-left: 530px;
}

.sneak-booblehead-description{
    margin: -10px;
    margin-left: 550px;
}

.science-booblehead-description{
    margin: 0px;
    margin-left: 340px;
}

.speech-booblehead-description{
    margin: 240px;
    margin-left: 320px;
}

.strength-booblehead-description{
    margin: 200px;
    margin-left: 370px;
}

.charisma-booblehead-description{
    margin: -70px;
    margin-left: 450px;
}

.energyweapon-booblehead-description{
    margin: 210px;
    margin-left: 100px;

}

#perception-button{
    margin-right: 5%;
}

#explosive-button{
    margin-right: 5%;
}

#repair-button{
    margin-right: 5%;
}

#luck-button{
    margin-right: 5%;
}

#agility-button{
    margin-right: 5%;
}

#endurance-button{
    margin-right: 5%;
}

#unarmed-button{
    margin-right: 5%;
}

#smallguns-button{
    margin-right: 5%;
}

#bigguns-button{
    margin-right: 5%;
}

#medicine-button{
    margin-right: 5%;
}

#intelligence-button{
    margin-right: 5%;
}

#meele-button{
    margin-right: 5%;
}

#lock-button{
    margin-right: 5%;
}

#barter-button{
    margin-right: 5%;
}

#sneak-button{
    margin-right: 5%;
}

#science-button{
    margin-right: 5%;
}

#speech-button{
    margin-right: 5%;
}

#strength-button{
    margin-right: 5%;
}

#charisma-button{
    margin-right: 5%;
}

#energyweapon-button{
    margin-right: 5%;
}

/* map section end */