/* login register start  */

.log-div{
    background-color: rgb(33,106,201);
    padding-top: 2%;
    padding-bottom: 2%;
}

.registrace{
    color: rgb(254,203,0);
    text-align: center;
    margin-top: -5%;
}

.valut-door{
    width: 15%;
}

/* login registr end  */
.post-board-container{
    /* background-color: rgb(236,235,232); */
    background-image: url('../images/backgrountcomment1.jpg');

}

/* post_board start  */

.post-div p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-p-div{
display: -webkit-box;
overflow: hidden;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

.post-titles{
    font-size: 3.8vw;
    color: #f9c700;
    font-family: 'Rubik Distressed', cursive;
    text-align: center;
    padding-bottom: 3%;
    
}

.user-text-logo{
    width: 60%;
}

.users-text{
    font-size: 2.2vw;
    font-family: 'Cuprum', sans-serif;
}

.user-text{
    font-size: 1.8vw;
    font-family: 'Lucida Sans', sans-serif;

}

.user-text-1{
    font-size: 2vw;
    font-family: 'Lucida Sans', sans-serif;
}

.email-text{
    font-size: 1.1vw;
    margin-top: -8% !important;
}

.border-user{
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
}


.post-board{
    border: 2px solid;
    border-radius: 20px;
    border-color: grey;
    background-color: #e8eaf0;
}

.user-a{
    all: unset;
    text-align: center;
    font-size: 1.8vw;
    font-family: 'Lucida Sans', sans-serif;
    
}


.user-a:hover {
    color: rgb(221,183,36);  
} 


.post-user-image{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}




.title-of-post{
    all: unset;
    font-family: 'Cuprum', sans-serif;
}
.title-of-post:hover {
    color: rgb(221,183,36);  
} 


.post-text{
display: -webkit-box;
overflow: hidden;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
font-size: 1.4vw;

transform: translateX(-16%);

}

.card-col{
    background-color: #e8eaf0;
}


.comments-div{

    background-color: whitesmoke;
    border-radius: 20px;
}

.comment-a{
    all: unset;
}

.comment-date{
    margin-top: -3%;
}

.colapse-form{
    background-color: #f7f6f5;
    border: 0cm;
    resize: vertical;
}

.post-img{
    width: 200px;
    height: 200px;
}

.post-image{
    transform: translateX(-20%) translateY(-20%);
}

.post-title{
    font-size: 2.3vw;
    font-family: 'Archivo Black', sans-serif;
    text-align: left;
    transform: translateX(-16%);
}

.go-to-post{
    transform: translateX(-32%);
}

.post-date{
    text-align: left;
    transform: translateX(-16%);
    
}

/* .edit-comment-form{
    border-radius: 50px;
} */
/* post_board end  */