/* login register start  */

.log-div{
    background-color: rgb(33,106,201);
    padding-top: 2%;
    padding-bottom: 2%;
}

.registrace{
    color: rgb(254,203,0);
    text-align: center;
    margin-top: -5%;
}

.valut-door{
    width: 15%;
}

/* login registr end  */
.post-board-container{
    background-color: rgb(33,106,201);
}

/* post_board start  */

.post-div p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-p-div{
display: -webkit-box;
overflow: hidden;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
/* post_board end  */