/* booblehead profile pages start */





.booble-profile-name{
    background: none;
    text-align: center;
    font-size: 6vw;
    font-family: 'Rubik Distressed', cursive;
    color: rgb(221,183,36);
    margin-top: -42%;
}

.booble-profile-container{
background-color: rgb(236,235,232);
padding-bottom: 6%;
}

.booble-profile-desctiption{
padding-left: 7%;
padding-top: 4%;
font-size: 1.9vw;
}

.booble-popis{
    text-align: justify;
}

.video{
padding-top: 10%;
padding-left: 5%;
}
/* booblehead profile pages start */