{% extends 'base.html' %}
{% block content %}


<center>
<div class="container">
<h1>Administrator</h1>
<div class="row">
<h2>Všichni uživatelé</h2>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Row</th>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Přihlašovací jméno</th>
            <th scope="col">Datum registrace</th>
            <th scope="col">Posts</th>
            <th scope="col">Koment</th>
            <th scope="col">Smazat</th>
          </tr>
        </thead>

        <tbody>
            {% for user in users%}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.date_created}}</td>
            <td>{{user.posts|length}}</td>
            <td>{{user.comments|length}}</td>
            <td><a href="/delete_user/{{user.id}}">smazat</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

<h2>Všechny příspěvky</h2>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Row</th>
        <th scope="col">ID</th>
        <th scope="col">Datum přidání</th>
        <th scope="col">Autor</th>
        <th scope="col">Název</th>
        <th scope="col">Smazat</th>
      </tr>
    </thead>


    <tbody>
        {% for post in posts%}
      <tr>
        <th scope="row">{{post.id}}</th>
        <td>{{post.id}}</td>
        <td>{{post.date_created}}</td>
        <td>{{post.user.username}}</td>
        <td>{{post.title}}</td>
        <td><a href="/delete_post/{{post.id}}">smazat</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>




<h2>Všechny komentářě </h2>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Row</th>
        <th scope="col">ID</th>
        <th scope="col">Datum přidání</th>
        <th scope="col">Autor</th>
        <th scope="col">Smazat</th>
      </tr>
    </thead>

    <tbody>
        {% for comment in comments %}
      <tr>
        <th scope="row">{{comment.id}}</th>
        <td>{{comment.id}}</td>
        <td>{{comment.date_created}}</td>
        <td>{{comment.user.username}}</td>
        <td><a href="/delete_comment/{{comment.id}}">smazat</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</center>
</div>
{% endblock %}