{% extends 'base.html' %}

{% block content %}






<!--bobblehead image section start 👇-->


    <div class="container-fluid first-container text-center pt-4 pb-4">
      <div class="row">
        <div class="col-3 my-auto mx-auto valut-boy-bobble">
          <img
          class="img-fluid valut-tec-image"
          src="{{url_for('static', filename='images/valutboyleft.png')}}"
          alt=""
        />
        </div>
        <div class="col-6 ">
<img class="img-fluid rotate-image w-50" src="{{url_for('static', filename='images/valutdoor20.png')}}" alt="">
</div>
<div class="col-3 my-auto mx-auto valut-boy-bobble">
  <img
  class="img-fluid valut-tec-image"
  src="{{url_for('static', filename='images/valutboyright.png')}}"
  alt=""
/>
  
</div>
</div>
<div class="row wheel-text text-center">
Najdi všech 20 bambulek rozesetých po celé pustině

</div>


</div>

<div class="container-fluid  ">
  <div class="row my-auto gray-line go-to-map">
    <p class="text-center"> <a href="bobbleheads-map">Přejít na mapu >>></a> </p> 
  </div>
</div>

    <!--bobblehead image section end 👆-->

<!--bobblehead map section start 👇-->

<!-- <section class="bobbleheadmap">
    <div class="container bobblehead-description">
    <div class="row">


      <div>
        <img class="img-fluid responsive pt-3" src="{{url_for('static', filename='images/dvacet.gif')}}" alt="">
            </div>
    



      <div class="col-6  bobble-game-description">
        <br>
        <br>
        <p> Po celé pustině je rozmístěno 20 bambulek, které vylepší tvoje schopnosti, nebo získáš perfektní bonusy pro svoji postavu. </p>
        <p> Pro rychlé a pohodlné získání všech dvaceti bambulek jsem vytvořil mapu s polohou všch bambulek </p>
    
        <p>Koukni se do mapy na scházející bambulky a vydej se do pustiny pro zbývající bambulky, ty které už si získal si můžeš odškrtnout na seznamu vedle mapy.</p>
    
      </div>
      <div class="col-6"><img src="{{url_for('static', filename='images/bobblehead1.png')}}" class="d-block bobbleheadimage" alt="..."></div> 
    </div>
    
    <div class="row">
    <div class="col-6"><img class="map-image" src="{{url_for('static', filename='images/mapaorez.jpg')}}" alt=""></div>
    <div class="col-6 go-to-map"><a href="bobbleheads-map">Přejít na mapu >>></a></div>
    </div>
    </div>
    
    </section> -->

<!--bobblehead center start 👇-->

<section>

    <div class="container-fluid bobblehead-center">
     
      <div class="row">
    
        <div class="col-4"> <img class="side-bobble" src="{{url_for('static', filename='images/bobbleheads/agility_bobblehead.png')}}" alt="">
        <div class="bobble-popis-hbitost">Hbitost</div>
        </div>
    
        <div class="col-4"> <img class="center-bobble" src="{{url_for('static', filename='images/bobbleheads/Perception_bobblehead.png')}}" alt="">
          <div class="bobble-popis-vnimani">Vnímání</div>
        </div>
        
      
    
        <div class="col-4"> <img class="side-bobble" src="{{url_for('static', filename='images/bobbleheads/endurance_bobblehead.png')}}" alt="">
          <div class="bobble-popis-rychlost">Rychlost</div>
        </div>
        
      </div>
    
      <div class="row">
        <div class=" text-bobble">Vylepši své schopnosti na maximum</div>
      </div>
      </div>
    </section>
    <!--bobblehead center section end 👆-->



<!--bobblehead list start 👇-->
    <section>

        <div class="container-fluid bobblehead-list-container">
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Perception_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="/perception-bobblehead">Bambulka Vnímání/Perception Bobblehead</div></a>
              <div class="bobble-description">Tato bambulka se nachází v lokaci Museum of freedom/Museum svobody. V místnosti, kde jsou schovaní Minitmenti před nájezdníky je položena na stole.</div>
            </div>
          </div>
      
          <hr class="bobble-hr">
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Explosives_Bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="explosive-bobblehead">Bambulka Exploze/Explosive Bobblehead</a></div>
              <div class="bobble-description">Nachází se v Saugus Ironworks. V místnosti, ve které je Slag, který bambulku chrání se nachází za Slagem na rantlu řídícího panelu.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Repair_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="repair-bobblehead">Bambulka Oprav/Repair Bobblehead</a></div>
              <div class="bobble-description">V lokaci Corvega Assembly Plant se nachází bambulka oprav. Leží na obří věži s modrou kolí a nápisem Corvega. Na konci plošiny se nachází bedna s lucernou na které je tato bambulka.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Luck_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="luck-bobblehead">Bambulka Štěstí/Luck Bobblehead</a></div>
              <div class="bobble-description">Bambulku Štěstí naleznete na na jihovýchodním konci ostrova Spectacle Island. V druhém patře napůl zatopené zelené lodi je otevřená skříňka a v ní je uložena bambulka.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/agility_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="agility-bobblehead">Bambulka Hbitosti/Agility Bobblehead</a></div>
              <div class="bobble-description">Tuto bambulku naleznete v lokaci Wreck of the FMS Northern Star. Na přídi lodi sjou dvě prkna a bambulka leží na konci těchto prken. POZOR jde snadno přehlédnout</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/endurance_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="endurance-bobblehead">Bambulka Výdrže/Endurance Bobblehead</a></div>
              <div class="bobble-description">Bambulka výdrže se nachází v lokaci Poseidon Energy. V této rozsáhlé továrně se nachází místnost ve které na stole najdete tuto bambulku.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/unarmed_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="unarmed-bobblehead">Bambulka Bezezbraně/Unarmed Bobblehead</a></div>
              <div class="bobble-description">V lokaci Atom Cats Garage ve stodole, která stojí za Red Rocket je vrak auta. Na kapotě tohoto vraku je Bambulka Bezezbraně.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Small_guns_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="smallguns-bobblehead">Bambulka Krátké Zbraně/Small Guns Bobblehead</a></div>
              <div class="bobble-description">V lokaci Gunners Plaza se nachází bambulka krátkých zbraní. Najdete ji ve vysílací místnosti za zamčenými dveřmi.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Big_guns_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="bigguns-bobblehead">Bambulka Velké Zbraně/Big Guns Bobblehead</a></div>
              <div class="bobble-description">Bambulka velkých zbraní je ve valutu 95. Ve spodní části valutu najdete díru ve stěně, kudy se dostanete do místnosti s bambulkou, která je umístěna na rádiu </div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Medicine_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="medicine-bobblehead">Bambulka Medicíny/Medicine Bobblehead</a></div>
              <div class="bobble-description">Ve Valutu 81 se nachází bambulka, kterou získáte po splnění úkolu kde zachráníte Austina. Bambulka se nachází v místnosti s robotem na stole vedle počítače.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Intelligence_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="intelligence-bobblehead">Bambulka Inteligence/Intelligence Bobblehead</a></div>
              <div class="bobble-description">V Boston Public Library se nachází bambulka inteligence v místnosti se zásobami, která se nachází za halou, kde jsou opevněné věže ničící útočící mutanty. Bambulka v místnosti je umístěna na řídícím panelu.</div>
            </div>
          </div>
          <hr class="bobble-hr">
      
      
          <div class="row">
      
          <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Melee_bobblehead.png')}}" alt=""></div>
          <div class="col-9 special-description bobble-scale">
            <div class="bobble-name"><a href="meele-bobblehead">Bambulka Chladné zbraně/Meele Bobblehead</a></div>
            <div class="bobble-description">Triniti Tower, věž plná mutantů, kterou se musíte probojovat k Bambulce chladných zbraní. Bambulka je umístěna na vrcholku věže v cele na improvizovaném stolku z prkna a cihel.</div>
          </div>
        </div>
        <hr class="bobble-hr">
      
      
        <div class="row">
      
          <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Lock_picking_bobblehead.png')}}" alt=""></div>
          <div class="col-9 special-description bobble-scale">
            <div class="bobble-name"><a href="lockpick-bobblehead">Bambulka Otevírání zámků/Lockpick Bobblehead</a></div>
            <div class="bobble-description"> Tuto Bambulku naleznete v lokaci Pickman Gallery. V této galerii se nachází v poslední komnatě před výstupem pryč. Leží na zemi vedle koše.</div>
          </div>
        </div>
        <hr class="bobble-hr">
      
        <div class="row">
      
          <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Barter_bobblehead.png')}}" alt=""></div>
          <div class="col-9 special-description bobble-scale">
            <div class="bobble-name"><a href="barter-bobblehead">Bambulka Obchodu/Barter Bobblehead</a></div>
            <div class="bobble-description"> V lokaci Longneck Lukowski's Cannery bambulku najdete v kanceláři, která je and konzervárnou. Stojí u rozbitého počítačového terminálu.</div>
          </div>
        </div>
        <hr class="bobble-hr">
      
      
        <div class="row">
      
          <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Sneak_Bobblehead.png')}}" alt=""></div>
          <div class="col-9 special-description bobble-scale">
            <div class="bobble-name"><a href="sneak-bobblehead">Bambulka Plížení/Sneak Bobblehead</a></div>
            <div class="bobble-description">V lomu Dunwich Borers je třeba zajít dovnitř do lomu a u terminálu číslo 4 najdete tuto Bambulku na železném stolečku vedle lucerny.</div>
          </div>
        </div>
        <hr class="bobble-hr">
      
      
        <div class="row">
      
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Science_Bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="science-bobblehead">Bambulka Vědy/Science Bobblehead</a></div>
              <div class="bobble-description">Uvnitř valutu 75 najdete střelnici, zabijte Gunnera, který tam trénuje a získejte kartu pro vstup do laboratoře Valutu 75. V alboratoři je bambulka na stole vedle rozbitého počítačového terminálu.</div>
            </div>
          </div>
          <hr class="bobble-hr">
        
          <div class="row">
        
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Speech_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="speech-bobblehead">Bambulka Řečnictví/Speech Bobblehead</a></div>
              <div class="bobble-description">Přes stanici Park Street Station se dostanete do Valutu 114. V místnosti správce, kde je zavřený Nick Valentine najdete na stole Bambulku Řečnictví</div>
            </div>
          </div>
          <hr class="bobble-hr">
        
        
          <div class="row">
        
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/strength_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="strength-bobblehead">Bambulka Síly/Strength Bobblehead</a></div>
              <div class="bobble-description"> Bambulka síly se nachází v Mass Fusion Building v nejvyšším patře budovy. Je na vrcholku kovové sochy s výhledem na vstupní halu. </div>
            </div>
          </div>
          <hr class="bobble-hr">
        
        
          <div class="row">
        
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/charisma_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="charisma-bobblehead">Bambulka Charisma/Charisma Bobblehead</a></div>
              <div class="bobble-description">V Parsons State Insane Asylum můžete najít bambulku charisma v Jackově kanceláři kousek od výtahu do tajné části na jeho pracovním stole.</div>
            </div>
          </div>
          <hr class="bobble-hr">
        
        
          <div class="row">
        
            <div class="col-3"> <img class="bobblehead-image" src="{{url_for('static', filename='images/bobbleheads/Energy_weapons_bobblehead.png')}}" alt=""></div>
            <div class="col-9 special-description bobble-scale">
              <div class="bobble-name"><a href="energyweapon-bobblehead">Bambulka Energetických zbraní/Energy weapon Bobblehead</a></div>
              <div class="bobble-description">Bambulku Energetických zbraní najdete v lokaci Fort Hagen. Nachází se v kuchyni na malém stolku mezi dvěmi lednicemi.</div>
            </div>
          </div>
        
        
        </div>
      </section>
      
<!--bobblehead list section end 👆-->


    {% endblock %}