{% extends 'base.html' %} {% block content %}


<div class="container-fluid py-5 company-container">

    <div class="war-1">Společníci</div>

    <div class="row row-cols-1 row-cols-md-3 mx-5 g-4">



        <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                src="{{url_for('static', filename='images/company/cait.jpg')}}"
                alt=""
              />
            <div class="pt-3">
             <h1>Cait</h1>
             <h4 class="pt-3">Lokace:</h4> 
             <p>Combat zone</p> 
            </div>
              </div>
              <div class="flip-card-back px-3">
                <h1>Cait</h1> 
                <h5>Má ráda:</h5> 
                <p>Páčení zámků nebo krádeže, násilné chování, být zlý nebo vyhrožovat v dialozích, chodit nahý, chtít za pomoc peníze </p>
                <h5>Nemá ráda:</h5> 
                <p>Vyhýbání se boji, dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy, Brotherhood of Steal, zabíjení nepřátelských NPC </p>
                <h5>Perk:</h5> 
                <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
              </div>
            </div>
          </div>
        </div>



        
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/codsworth.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h1>Codsworth</h1>
                 <h4 class="pt-3">Lokace:</h4> 
                 <p>Sanctuary Hills</p> 
                </div>
                  </div>
                  <div class="flip-card-back px-3">
                    <h1>Codsworth</h1> 
                    <h5>Má rád:</h5> 
                    <p> Dobrosrdenství a štědrost, spravedlnost, spravedlivé a odpovědné chování, pomáháná ostatním lidem , rodině orientované dialogy a úpravy zbrojí a zbraní  </p>
                    <h5>Nemá rád:</h5> 
                    <p> Krádeže, užívání drog a chamtivost, vraždy a chtít peníze za pomoc, příjmout quest na zabití paladina Danse, krádeže a vraždy </p>
                    <h5>Perk:</h5> 
                    <p> Plus 10 k odolnosti proti energetickým zbraním a proti energetickým zbraní robotů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/curie.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                    <h1>Curie</h1>
                    <h4 class="pt-3">Lokace:</h4> 
                    <p>Valut 81</p> 
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h1>Curie</h1> 

                    <h5>Má ráda:</h5> 
                    <p> Dobrosrdenství, štědrost a milost, pomoc ostatním lidem, dobré chování k robotům a zabíjení vůdců gaunerů, Brotherhood of Steal, Railroad</p>
                    <h5>Nemá ráda:</h5> 
                    <p>Krádeže, užívání drog, chamtivost, peníze za pomoc, násilí a vraždění, dialogy vedoucí k náslilí, Institut, zabít Ms. Gusty/ Ms. Handy, město Covenant nebo stát se závislí na chemikáliích</p>
                    <h5>Perk:</h5> 
                    <p> Jednou za den obnoví tvé zdraví o 10% pokud tvé zdraví klesne pod 100 HP</p>
                  </div>
                </div>
              </div>
            </div>



            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/Paladin_Danse.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h1>Paladin Danse</h1>
                 <h4 class="pt-3">Lokace:</h4> 
                 <p>Cambridge Police Station</p> 
                </div>
                  </div>
                  <div class="flip-card-back px-3">
                    <h1>Paladin Danse</h1> 
                    <h5>Má rád:</h5> 
                    <p> Nošení Power Armor, přivolání Vertibirdu, Minutmenty, pomoc ostatním lidem, Brotherhood of Steal, úpravu zbraní nebo brnění</p>
                    <h5>Nemá rád:</h5> 
                    <p>Supermutanty, ghůly, synthy, podplácení, užívání drog a chemikálií, pojídání mrtvol, dialogy o syntech, Vybudování dělostřelectva pro Minutmenty</p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            <div class="col">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img
                        class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                        src="{{url_for('static', filename='images/company/Deacon.jpg')}}"
                        alt=""
                      />
                    <div class="pt-3">
                     <h1>Deacon</h1>
                     <h4 class="pt-3">Lokace:</h4> 
                     <p>Railroad HQ</p> 
                    </div>
                      </div>
                      <div class="flip-card-back px-3">
                        <h1>Deacon</h1> 
                        <h5>Má rád:</h5> 
                        <p>Páčení zámků, hackování terminálů, pomoc ostatním lidem, Synthy a Railroad</p>
                        <h5>Nemá rád:</h5> 
                        <p>Chtít odměnu za pomoc lidem, útoky na nepřátelská NPC, drogy, pojídání mrtvol, Covenant a Brotherhood of Steal</p>
                        <h5>Perk:</h5> 
                        <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                      </div>
                    </div>
                  </div>
                </div>




                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img
                            class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                            src="{{url_for('static', filename='images/company/Dogmeat.jpg')}}"
                            alt=""
                          />
                        <div class="pt-3">
                         <h1>Dogmeat</h1>
                         <h4 class="pt-3">Lokace:</h4> 
                         <p>Red Rocket truck stop</p> 
                        </div>
                          </div>
                          <div class="flip-card-back px-3">
                            <h1>Dogmeat</h1> 
                            <h5>Má rád:</h5> 
                            <p>Dogmeat je jediný společník ve hře, u kterého nezáleží co děláte a nebo neděláte. 
                                Jelikož není ani člověk ani robot, ghůl nebo mutant, ale je to pes, tak Vás bude bezpodmínečně
                                milovat ať děláte co děláte.
                            </p>

                            <h5>Nevýhoda:</h5> 
                            <p>Nevýhoda je, že nezískáte žádný bonusový perk za tískání náklonosti psa, ale zase můžete na stromu svých 
                                dovedností využít perk Lone Wanderer, kde získáte bonusy za cestování bez společníka 
                            </p>

                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="col">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front">
                                <img
                                class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                                src="{{url_for('static', filename='images/company/John.jpg')}}"
                                alt=""
                              />
                            <div class="pt-3">
                             <h1>John Hancock</h1>
                             <h4 class="pt-3">Lokace:</h4> 
                             <p>Old State House in Goodneighbor</p> 
                            </div>
                              </div>
                              <div class="flip-card-back px-3">
                                <h1>John Hancock</h1> 
                                <h5>Má rád:</h5> 
                                <p>Pomáhat a nebo bránit nevinné, kruté jednání vůči těm, kteřísi to zaslouží, drogy, Minutmenty, Railroad, cestovat nahý</p>
                                <h5>Nemá rád:</h5> 
                                <p>Krádeže, chamtivost, kruté jednání s těmi, kteří si to nezaslouží, Brotherhood of Steal a Institut </p>
                                <h5>Perk:</h5> 
                                <p>Možnost použití kritického zásahu se zrychlí o 20% pokud jsi ozářený alespoň na 250 Radů, to je ekvivalent ztráty 25 % tvého zdraví. </p>
                              </div>
                            </div>
                          </div>
                        </div>



        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/Nick.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h1>Nick Valentine</h1>
                 <h4 class="pt-3">Lokace:</h4> 
                 <p>Vault 114</p> 
                </div>
                  </div>
                  <div class="flip-card-back px-3">
                    <h1>Nick Valentine</h1> 
                    <h5>Má rád:</h5> 
                    <p>Pomáhat ostatním lidem, hackování terminálů, vyřešení konfliktů mírovou cestou, dialogy favorizující synthy, Railroad</p>
                    <h5>Nemá rád:</h5> 
                    <p>Agresivní dialog a nebo vyhrožování, krádeže, vraždy, Brotherhood of Steal, pojídání mrtvol, chamtivost, Covenant a páčení cizích zámků</p>
                    <h5>Perk:</h5> 
                    <p>Přidá extra pokus při hackování terminálů, pokud si terminál zamknete při neůspěšném hackování čas zamknutí terminálu se zkrátí o 50 % </p>
                  </div>
                </div>
              </div>
            </div>




                <div class="col">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img
                            class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                            src="{{url_for('static', filename='images/company/Piper.jpg')}}"
                            alt=""
                          />
                        <div class="pt-3">
                         <h1>Piper Wright</h1>
                         <h4 class="pt-3">Lokace:</h4> 
                         <p>Diamond City</p> 
                        </div>
                          </div>
                          <div class="flip-card-back px-3">
                            <h1>Piper Wright</h1> 
                            <h5>Má ráda:</h5> 
                            <p>Pomoc lidem, otevírání zámků, které nikdo nevlastní, Minutmenty, vyřešení konfliktů mírovou cestou, Railroad, říkání pravdy</p>
                            <h5>Nemá ráda:</h5> 
                            <p>Krádeže, lhaní, Covenant, Institut, Brotherhood of Steal, otevírání zámků od věcí, které někdo vlastní, dialogy, které vedou k agresy, vyhrožování, drogy, vraždy a pojídání mrtvol.</p>
                            <h5>Perk:</h5> 
                            <p>Dvojnásobné zkušenostní body, když najdeš novou lokaci, nebo když budeš úspěšný v přesvědčování.</p>
                          </div>
                        </div>
                      </div>
                    </div>
    



<div class="col">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
            class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
            src="{{url_for('static', filename='images/company/Preston.jpg')}}"
            alt=""
          />
        <div class="pt-3">
         <h1>Preston Garvey</h1>
         <h4 class="pt-3">Lokace:</h4> 
         <p>Museum of Freedom</p> 
        </div>
          </div>
          <div class="flip-card-back px-3">
            <h1>Preston Garvey</h1> 
            <h5>Má rád:</h5> 
            <p>Pomoc lidem, tvorba zbraňových modifikací, být čestný, Minutmenty a Railroad</p>
            <h5>Nemá rád:</h5> 
            <p>Použití Fat Mana, Brotherhood of Steal, Institut, Covenant, chtít odměnu za pomoc lidem, užívání drog, krádeže a pojídání mrtvol </p>
            <h5>Perk:</h5> 
            <p>Tvoje odolnost se zvýší o dvacet bodů a pokud jsou nepřátelé v přesile alespoň 3:1 tvoje poškození se zvýší o 20 %</p>
          </div>
        </div>
      </div>
    </div>




    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                src="{{url_for('static', filename='images/company/Robert.jpg')}}"
                alt=""
              />
            <div class="pt-3">
             <h1>Robert MacCready</h1>
             <h4 class="pt-3">Lokace:</h4> 
             <p>Trinity Tower</p> 
            </div>
              </div>
              <div class="flip-card-back px-3">
                <h1>Robert MacCready</h1> 
                <h5>Má rád:</h5> 
                <p>Pomoc jen za vysokou odměnu,sarkasmus, Minutmenty, kriminální akce, pomoc rodičům a nebo dětem</p>
                <h5>Nemá rád:</h5> 
                <p>Railroad, Brotherhood of Steal, nevyprovokované násilí nebo pokud vás chytí při kriminální činnosti.</p>
                <h5>Perk:</h5> 
                <p>Máš o 20% větší šanci ve VATS trefit nepřítele do hlavy</p>
              </div>
            </div>
          </div>
        </div>




    <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                src="{{url_for('static', filename='images/company/Strong.jpg')}}"
                alt=""
              />
            <div class="pt-3">
             <h1>Strong</h1>
             <h4 class="pt-3">Lokace:</h4> 
             <p>Trinity Tower</p> 
            </div>
              </div>
              <div class="flip-card-back px-3">
                <h1>Strong</h1> 
                <h5>Má rád:</h5> 
                <p>Pomoc lidem, upřednostnění násilného řešení situace před mírovým, pojídání mrtvol a krádeže </p>
                <h5>Nemá rád:</h5> 
                <p>Páčení zámků, hackování terminálů, nošení power armor, braní drog, Brotherhood of Steal a působení charisma v dialozích </p>
                <h5>Perk:</h5> 
                <p>Pokud tvé zdraví klesne pod 25%, bude tvoje poškození z blízka silnější o 20%</p>
              </div>
            </div>
          </div>
        </div>





        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/X6.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h1>X6-88</h1>
                 <h4 class="pt-3">Lokace:</h4> 
                 <p>The Institute</p> 
                </div>
                  </div>
                  <div class="flip-card-back px-3">
                    <h1>X6-88</h1> 
                    <h5>Má rád:</h5> 
                    <p>Nošení power armor, Institut, hackování terminálů, vytváření modifikací zbraní nebo brnění, říkat si o vyskou odměnu.</p>
                    <h5>Nemá rád:</h5> 
                    <p>Páčení zámků, hackování terminálů, nošení power armor, braní drog, Brotherhood of Steal a působení charisma v dialozích </p>
                    <h5>Perk:</h5> 
                    <p>Být nahý, Vertibirdy a užívíní drog.</p>
                  </div>
                </div>
              </div>
            </div>
    
    










































      </div>
</div>










{% endblock content %}
