{% extends 'base.html' %} {% block content %}


<div class="container-fluid py-5 company-container">

    <div class="war-1">Společníci</div>

    <div class="row row-cols-1 row-cols-md-3 mx-5 g-4">



        <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                src="{{url_for('static', filename='images/company/cait.jpg')}}"
                alt=""
              />
            <div class="pt-3">
             <h3>Cait</h3>
            </div>
              </div>
              <div class="flip-card-back">
                <h5>Lokace:</h5> 
                <p>Combat zone</p> 
                <h5>Má ráda:</h5> 
                <p> Násilí, pití alkoholu, chamtivost </p>
                <h5>Nemá ráda:</h5> 
                <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                <h5>Perk:</h5> 
                <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
              </div>
            </div>
          </div>
        </div>



        
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/codsworth.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Codsworth</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Sanctuary Hills</p> 
                    <h5>Má rád:</h5> 
                    <p> Dobrosrdenství a štědrost, úpravy zbrojí a zbraní  </p>
                    <h5>Nemá rád:</h5> 
                    <p> Krádeže, užívání drog a chamtivost</p>
                    <h5>Perk:</h5> 
                    <p> Plus 10 k odolnosti proti energetickým zbraním a proti energetickým zbraní robotů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>



            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>





            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>



            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>




            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>



            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>



            
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img
                    class="img-fluid valut-tec-image w-75 rounded-circle pt-2"
                    src="{{url_for('static', filename='images/company/cait.jpg')}}"
                    alt=""
                  />
                <div class="pt-3">
                 <h3>Cait</h3>
                </div>
                  </div>
                  <div class="flip-card-back">
                    <h5>Lokace:</h5> 
                    <p>Combat zone</p> 
                    <h5>Má ráda:</h5> 
                    <p> Násilí, pití alkoholu, chamtivost </p>
                    <h5>Nemá ráda:</h5> 
                    <p> Dobrosrdenství, štědrost, milost a nemá ráda když pojídáte mrtvoly nebo užíváte drogy </p>
                    <h5>Perk:</h5> 
                    <p> Pokud tvé zdraví klesne pod 25 % urychlí se regenerace tvých akčních bodů.</p>
                  </div>
                </div>
              </div>
            </div>





















      </div>
</div>










{% endblock content %}
