{% extends 'base.html' %}

{% block content %}

<br> <br>
<center>
<h1>Edit your post a post ...</h1>

<form method="POST">
    <div class="mb-3 align-center">
      <label for="title" class="form-label"></label>
      <input type="text" class="form-control w-50" id="title" name="title" aria-describedby="emailHelp" placeholder="Titulek Příspěvku">
      <br>
<textarea name="text" id="text" cols="10" rows="10" class="form-control w-50">{{post.text}}</textarea>
<br>
<button type="submit" class="btn btn-lg btn-primary">Odeslat</button>
</div>
  </form>

</center>
{% endblock %}