
{% extends 'base.html' %}
{% block content %}

<img class="img-fluid responsive" src="{{url_for('static', filename='images/page_head/fallout.jpg')}}" alt="">
<section class="description">
    <div class="war">
        War, war never changes 
    </div>

    <div class="container changing-text-container">
        <div class="row">
          <div class="col game-description">


            <div class="animated-text">
              <h1 data-text="Skvělý příběh">Skvělý příběh</h1>
            </div>

            <div class="animated-text">
              <h1 data-text="Survival mód">Survival mód</h1>
            </div>

            <div class="animated-text">
              <h1 data-text="Crafting systém ">Crafting systém </h1>
            </div>

            <div class="animated-text">
              <h1 data-text="Vychytané RPG">Vychytané RPG</h1>
            </div>

            
            
          </div>
          <div class="col">
            <img src="{{url_for('static', filename='images/valutboy.png')}}" class="img-fluid d-block w-100 valut-boy" alt="...">
          </div>
    </div>
  </div>
</section>

<!--dlc section start 👇-->

<section class="dlc">
    <div class="container">
    <div class="war-1">Rozšíření - DLC</div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 card-dlc">
            <img src="{{url_for('static', filename='images/dlc/Automatron.png')}}" class="card-img-top w-75 mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="card-title">Automatron</h5>
              <p class="card-text">První rozšíření Fallout 4 přidává do hry možnost skládat si roboty ze zbytků 
                svých nepřátel a příběhovou lini, kde se utkáte se zlotřilím Mechanikem.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-dlc">
            <img src="{{url_for('static', filename='images/dlc/Wasteland_Workshop.png')}}" class="card-img-top w-75 mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wasteland Workshop</h5>
              <p class="card-text">Obsahuje mnoho doplňků pro stavbu osad. Další vylepšení hry, které toto DLC přináší je možnost 
                stavět pasti na odchyt zvířat nebo nájezdníků, které pak můžete nechat bojovat v aréně. 
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-dlc">
            <img src="{{url_for('static', filename='images/dlc/FarHarbor.png')}}" class="card-img-top w-75 mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="card-title">Far Harbor</h5>
              <p class="card-text">Toto rozšíření přináší do hry nové questy, postavy a osady zbraně a vybavění, ale hlavně také 
                úplně novou lokaci, do které se vydáte najít ztracenou mladou ženu.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-dlc">
            <img src="{{url_for('static', filename='images/dlc/Contraptions_Workshop.png')}}" class="card-img-top w-75 mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="card-title">Contraptions Workshop</h5>
              <p class="card-text">Rozšíření přidává do hry nové objekty na stavbu základny jako jsou výtahy, stojany na brnění a nebo skleníky.
                Největší novinka v tomto DLC je možnost si postavit automatickou výrobnu na zbraně či brnění. 
              </p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100 card-dlc">
              <img src="{{url_for('static', filename='images/dlc/Vault-Tec_Workshop.png')}}" class="card-img-top w-75 mx-auto d-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vault-Tec Workshop</h5>
                <p class="card-text">Přidává do hry novou lokaci Valut 88, kde si budete moct kompletně vybudovat svůj vlastní valut. </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 card-dlc">
              <img src="{{url_for('static', filename='images/dlc/Nuka-World.png')}}" class="card-img-top w-75 mx-auto d-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Nuka World</h5>
                <p class="card-text">Poslední DLC vydané pro Fallout 4 Vás přivede do zabavního parku Nuka World. Do hry přidává 
                    spoustu nových kvestů a také možnost míchat si různé příchutě Nuka Coly. 
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>

</section>


<!--special section start 👇-->
<section class="special">

    <div class="war-1"> You're S. P. E. C. I. A. L.</div>

    <div class="container">


    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/strenght.gif')}}" alt=""></div>
        <div class="col-3 special-text">Síla</div>
        <div class="col-6 special-description">Síla ovlivňuje kolik toho uneseš a podle toho jak máš velkou sílu jsou silné tvoje útoky z blízka.</div>
    </div>

    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/perception.gif')}}" alt=""></div>
        <div class="col-3 special-text">Vnímání</div>
        <div class="col-6 special-description">Vnímání je tvůj šestý smyl a ovlivňuje tvoji přesnost zásaů v systému V.A.T.S.</div>
    </div>

    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/endurance.gif')}}" alt=""></div>
        <div class="col-3 special-text">Vytrvalost</div>
        <div class="col-6 special-description">Vytrvalost je atribut tvého celkového zdraví a ovlivňuje tvoje totální zdraví a také počet tvých akčních bodů.</div>
    </div>

    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/charisma.gif')}}" alt=""></div>
        <div class="col-3 special-text">Charisma</div>
        <div class="col-6 special-description">Charisma určuje jak působíš na své okolí. Ovlivňuje úspěšnost přesvědčování v dialozích a také ceny u obchodníků.</div>
    </div>

    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/intelligence.gif')}}" alt=""></div>
        <div class="col-3 special-text">Inteligence</div>
        <div class="col-6 special-description">Inteligence ovlivňuje počet získaných zkušenostních bodů. Čím vyšší inteligence tím rychleji získáváš další level postavy.</div>
    </div>

    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/agility.gif')}}" alt=""></div>
        <div class="col-3 special-text">Hbitost</div>
        <div class="col-6 special-description">Hbitost ovlivňuje kolik máš akčních bodů ve V. A. T. S. a teké tvoji schopnost nepozorovaně se plížit.</div>
    </div>

    <div class="row">
        <div class="col-3"> <img class="special-image" src="{{url_for('static', filename='images/special/luck.gif')}}" alt=""></div>
        <div class="col-3 special-text">Štěstí</div>
        <div class="col-6 special-description">Štěstí ovlivňuje jak rychle se nabíjí možnost kritického útoku.</div>
    </div>
</div>


</section>
<!--special section end 👆-->
{% endblock content %}