{% extends 'base.html' %}
{% block content %}

<div class="container-fluid d-flex justify-content-center">
    <div class="w-25">
<center>
<h1>Přihlásit se </h1>
<p>přihlášení tady ....</p>
<form method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Heslo</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Přihlásit</button>
  </form>

</center>
</div>
</div>
{% endblock %}