{% extends 'base.html' %}

{% block content %}

<center>
<h1>Příspěvky</h1>
<br>
{% for post in posts %}

<div class="shadow-lg p-3 mb-5 bg-body rounded w-50 post-div">
    {{ post.id }} <br>
<h5>{{ post.user.username }} <br></h5>
<hr>
<p>{{ post.title}}</p> <br>
    <p>{{ post.text|safe }}</p> <br>

    {{ post.date_created }} <br>
    <hr>
    {% if user.id == post.author %}
    <a href="/edit_post/{{post.id}}" class="btn btn-secondary">Upravit</a>
    <a href="/delete_post/{{post.id}}" class="btn btn-danger">Smazat</a>
    {% endif %}
</div>
{% endfor%}
</center>

{% endblock %}