{% extends 'base.html' %}

{% block content %}

<center>
<h1>Příspěvky</h1>
<br>
{% for post in posts %}

<div class="shadow-lg p-3 mb-5 bg-body rounded w-50 post-div">
    {{ post.id }} <br>
<h5>{{ post.user.username }} <br></h5>
<hr>
    <h2><a href="/post/{{post.id}}">{{ post.title}}</a></h2> <br>
    <p>{{ post.text|safe }}</p> <br>

    {{ post.date_created }} <br>
    <!-- likes start -->
    <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
    {% if user.id in post.likes|map(attribute="author")|list %}
    <span><i class="fa-solid fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
    {% else %}
    <i class="fa-regular fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
    {% endif %} 
        <!-- likes stop -->

        <!-- dislikes start -->
        <span id="dislikes-count-{{post.id}}">{{post.dislikes|length}}</span>
        {% if user.id in post.dislikes|map(attribute="author")|list %}
        <span><i class="fa-solid fa-thumbs-down" id="dislike-button-{{post.id}}" onclick="dislike({{post.id}})"></i>
        {% else %}
        <i class="fa-regular fa-thumbs-down" id="dislike-button-{{post.id}}" onclick="dislike({{post.id}})"></i>
        {% endif %} 
        <!-- dislikes stop -->

    <hr>
    {% if user.id == post.author %}
    <a href="/edit_post/{{post.id}}" class="btn btn-secondary">Upravit</a>
    <a href="/delete_post/{{post.id}}" class="btn btn-danger">Smazat</a>
    {% endif %}
    <br><br>
    <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">

                {% for comment in post.comments %}
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                    <div>
                    <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>
                    {{comment.text}}
                </div>
                    <div>

                        <small class="text-muted">{{comment.date_created}}</small>

                        {% if user.id == comment.author or user.id == post.author %}
                        <a class="" data-bs-toggle="collapse" href="#collapseEditCommentForm-{{comment.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Upravit
                          </a>
                          <div class="collapse" id="collapseEditCommentForm-{{comment.id}}">
                            <div class="card card-body">
                                <form action="/edit_comment/{{comment.id}}" class="input-group mb-3" method="POST" id="comentary_text">

                                    <input type="text" id="comentary_text" name="comentary_text" class="form-control" value="{{comment.text}}" placeholder="Uprav komentář">
                                    <button type="submit" id="comentary_text" name="comentary_text" class="btn btn-primary">Upravit</button>
                                </form>
                            </div>
                          </div>
                        {% endif %}
                        {% if user.id == comment.author or user.id == post.author %}
                        <a href="/delete_comment/{{comment.id}}">smazat</a> 
                        {% endif %}
                    </div>
                    <div>
                       
                    </div>
                </div>
                </div>
                <br>
                
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
<p class="card-text">
{%if post.comments|length > 0 %}
    <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
    <small class="text-muted">Přečíst {{post.comments|length}}</small> komentáře</a>
{% else %}
    <small class="text-muted">Napiš první komentář</small>
{% endif %}

</p>

    <form action="/create_comment/{{post.id}}" class="input-group mb-3" method="POST">

        <input type="text" id="text" name="text" class="form-control" placeholder="okomentuj prispevek">
        <button type="submit" name="text" class="btn btn-primary">Komentář</button>
    </form>


    
</div>
{% endfor%}
</center>

{% endblock %}