{% extends 'base.html' %} {% block content %}

<center>
  <div class="container-fluid post-board-container">
    <div class="row">
      <div class="col-3 pt-4 pb-4">
        <h4 class="post-titles">Uživatelé</h4>

        {% if current_user.is_authenticated %}
        <p class="users-text">přihlášený uživatel:</p>
        <div class="border-user">
          {% if user.user_pic%}
          <img
            src="{{url_for('static', filename='images/uploads/' + user.user_pic)}}"
            class="card-img-top post-user-image"
            alt="..."
          />

          {% else %}
          <img
            src="{{url_for('static', filename='images/raw.gif')}}"
            class="card-img-top post-user-image"
            alt="..."
          />
          {% endif %}
          <p class="user-text text-right">{{current_user.username}}</p>
          <p class="email-text text-right">{{current_user.email}}</p>
          <br />
          <img
            src="{{url_for('static', filename='images/valut-tec.png')}}"
            class="image-fluid user-text-logo"
            alt="..."
          />
        </div>
        {% else %}
        <div class="border-user">
          <p class="users-text">Nejsi přihlášen !!!</p>
          <a class="user-a" href="/login">Přihlásit</a> <br />
          <a class="user-a" href="/sign_up">Zaregistrovat</a>
        </div>
        {% endif %}

        <p class="users-text">Ostatní uživatelé:</p>

        <div class="border-user">
          {% for user in users %}

          <a class="user-a" href="/profil/{{user.username}}"
            >{{user.username}}</a
          ><br />

          {% endfor %}
        </div>
      </div>

      <div class="col-9 pt-4 pb-4">
        <h4 class="post-titles">Příspěvky</h4>
        <br />

        {% for post in posts %}

        <p class="user-text-1">{{ post.user.username }}</p>
        <div class="card mb-3 w-75 shadow-lg post-board">
          <div class="card-header">
            <h3 class="card-title text-center">
              <a href="/post/{{post.id}}" class="title-of-post"
                >{{post.title}}</a
              >
            </h3>
          </div>

          <div class="row g-0">
            <div class="col-md-4">
              {% if post.post_pic%}
              <img
                src="{{url_for('static', filename='images/uploads/' + post.post_pic)}}"
                class="img-fluid rounded-start w-75"
                alt="..."
              />

              {% else %}
              <img
                src="{{url_for('static', filename='images/raw.gif')}}"
                class="img-fluid rounded-start w-75"
                alt="..."
              />
              {% endif %}
            </div>
            <div class="col-md-8 card-col">
              <div class="card-body">
                <p class="card-text post-text">{{ post.text}}</p>

                <div class="row">
                  <div class="col-6">
                    <p class="card-text">
                      <small class="text-start"
                        ><a href="/post/{{post.id}}">
                          Přejít na příspěvek ></a
                        ></small
                      >
                    </p>
                  </div>

                  <div class="col-6 text-end">
                    {% if user.id == post.author %}
                    <small class="muted">
                      <a href="/edit_post/{{post.id}}" class=""
                        >Upravit</a
                      ></small
                    >
                    <small>
                      <a href="/delete_post/{{post.id}}" class=""
                        >Smazat</a
                      ></small
                    >
                    {% endif %}
                  </div>
                  <div class="row">
                    <div class="col text-end"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body card-col">
              <div class="row">
                <div class="col-6 text-start">
                  <!-- likes start -->
                  <!-- <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
                 {% if user.id in post.likes|map(attribute="author")|list %}
                 <span><i class="fa-solid fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
                 {% else %}
                 <i class="fa-regular fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
                 {% endif %}  -->
                  <!-- likes stop -->

                  <!-- dislikes start -->
                  <!-- <span id="dislikes-count-{{post.id}}">{{post.dislikes|length}}</span>
                     {% if user.id in post.dislikes|map(attribute="author")|list %}
                     <span><i class="fa-solid fa-thumbs-down" id="dislike-button-{{post.id}}" onclick="dislike({{post.id}})"></i>
                     {% else %}
                     <i class="fa-regular fa-thumbs-down" id="dislike-button-{{post.id}}" onclick="dislike({{post.id}})"></i>
                     {% endif %}  -->
                  <!-- dislikes stop -->
                </div>

                <div class="col-6 text-end">
                  <p>
                    <a
                      class="comment-a"
                      data-bs-toggle="collapse"
                      href="#comments-{{post.id}}"
                      role="button"
                      >{{post.comments|length}}
                      <i class="fa-regular fa-comment"></i
                    ></a>
                  </p>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <div class="collapse" id="comments-{{post.id}}">
                <div class="container-fluid">
                  {% for comment in post.comments %}

                  <div class="row pb-3">
                    <div class="col-1">
                      {% if comment.user.user_pic%}
                      <img
                        src="{{url_for('static', filename='images/uploads/' + comment.user.user_pic)}}"
                        class="card-img-top post-user-image"
                        alt="..."
                      />

                      {% else %}
                      <img
                        src="{{url_for('static', filename='images/raw.gif')}}"
                        class="card-img-top post-user-image"
                        alt="..."
                      />
                      {% endif %}
                    </div>
                    <!-- <div class="col-1"></div> -->

                    <div class="col-11 text-start comments-div">
                      {{comment.text}}
                    </div>
                  </div>

                  <p class="text-end text-muted comment-date">
                    <small>{{comment.date_created}}</small>
                    {% if user.id == comment.author or user.id == post.author %}
                    <a class="comment-a" href="/delete_comment/{{comment.id}}"
                      >smazat</a
                    >
                    {% endif %} {% if user.id == comment.author %}
                    <a
                      class="comment-a"
                      data-bs-toggle="collapse"
                      href="#CommentsEdit-{{comment.id}}"
                      role="button"
                      >upravit</a
                    >
                  </p>
                  <div
                    class="collapse colapse-form"
                    id="CommentsEdit-{{comment.id}}"
                  >
                    <div class="card card-body colapse-form">
                      <form
                        onkeypress="return submitFormOnEnter(event)"
                        action="/edit_comment/{{comment.id}}"
                        class="input-group mb-3 rounded-pill"
                        method="POST"
                        id="comentary_text"
                      >
                        <textarea
                          type="text"
                          id="comentary_text"
                          name="comentary_text"
                          class="edit-comment-form form-control rounded-pill"
                          placeholder="Uprav komentář"
                        >
{{comment.text}}</textarea
                        >
                      </form>
                    </div>
                  </div>
                  {% endif %} {% endfor %}
                </div>

                <form
                  action="/create_comment/{{post.id}}"
                  class="input-group mb-3"
                  method="POST"
                >
                  <div class="input-group mb-3">
                    <textarea
                      class="form-control"
                      id="text"
                      name="text"
                      rows="3"
                      placeholder="Okomentuj prispevek"
                    ></textarea>
                    <br />
                  </div>
                  <div class="input-group">
                    <button type="submit" name="text" class="btn btn-primary">
                      Komentář
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}
</center>
