{% extends 'base.html' %} 
{% block content %}
<style>
  .booble-profile {
    margin-top: -12%;
    margin-left: 10%;
    border-radius: 100%;
    opacity: 0.9;
    background-image: url({{url_for(
        "static",
        filename= "images/greybackground.jpg"
      )}});
  }
</style>

<div class="background-walper">
  <img
    class="img-fluid booblehead-walper"
    src="{{url_for('static', filename='images/boobbleheaduvod.jpg')}}"
    alt=""
  />
</div>

<div class="container-fluid booble-profile-container">
  <div class="row">
    
    <div class="col-3 booble-profile">
      
      <img
        class="img-fluid booble-image"
        src="{{url_for('static', filename='images/bobbleheads/Perception_bobblehead.png')}}"
        alt=""
      />
    </div>
  
    <div class="col-9 booble-profile-name">{{user.username}}</div>
  </div>
<div class="row">
  <div class="col-3 text-center">

    <div>
      <a class="" href="/edit-user-photo/{{current_user.id}}"><p>změnit profilovku</p></a>
    </div>


      <h2>{{user.username}}</h2><br>
      {{user.user_pic}}
      {% if user.user_pic%}
      <img src="{{url_for('static', filename='images/uploads/' + user.user_pic)}}" class="card-img-top w-25" alt="...">
      
      {% else %}
      <img src="{{url_for('static', filename='images/raw.gif')}}" class="card-img-top w-25" alt="...">
      {% endif %}
      {{current_user.username}}
      <p>počet příspěvků: {{user.posts|length}}</p>
      <p>počet komentářů: {{user.comments|length}}</p>
      <p>počet liků {{user.likes|length}}</p>
      <p>počet disliků {{user.dislikes|length}}</p>

      <a class="btn btn-warning" data-bs-toggle="collapse" href="#collapseOne">
        Zobrazit říspěvky
      </a>
      <br><br>
          <a class="collapsed btn btn-warning" data-bs-toggle="collapse" href="#collapseTwo">
        Zobrazit komentáře
      </a>
   

  </div>
  <div class="col-9" id="accordion">
 <center>
    <h1>Zeď uživatele {{user.username}}</h1>
  </center>
    <div class="collapse show" id="collapseOne" data-bs-parent="#accordion">
      
    <center>
      {% if user.posts|length > 0 %}
      <h1>Příspěvky uživatele {{user.username}}</h1>
    
      {% for post in posts %}
    
      <div class="shadow-lg p-3 mb-5 bg-body rounded w-50 post-div">
        {{ post.id }} <br />
        <h5>{{ post.user.username }} <br /></h5>
        <hr />
        <p>{{ post.title}}</p>
        <br />
        <p>{{ post.text|safe }}</p>
        <br />
    
        {{ post.date_created }} <br />
        <hr />
        {% if user.id == post.author %}
        <a href="/edit_post/{{post.id}}" class="btn btn-secondary">Upravit</a>
        <a href="/delete_post/{{post.id}}" class="btn btn-danger">Smazat</a>
        {% endif %}
      </div>
      {% endfor%}
    </center>
    {% else %}
      <h1>uživatel {{user.username}} nemá žádné příspěvky</h1>
    {% endif %}

    </div>


 
    <div class="collapse" id="collapseTwo" data-bs-parent="#accordion">
      
    <center>
      {% if user.comments|length > 0 %}
      <h1>Komentáře uživatele {{user.username}}</h1>
    
      {% for comment in comments %}
    
      <div class="shadow-lg p-3 mb-5 bg-body rounded w-50 post-div">
        {{ comment.id }} <br />
        <h5>{{ comment.user.username }} <br /></h5>
        <hr />
        <p>{{ comment.title}}</p>
        <br />
        <p>{{ comment.text|safe }}</p>
        <br />
    
        {{ comment.date_created }} <br />
        <hr />
        {% if user.id == comment.author %}
        <a href="/edit_comment/{{comment.id}}" class="btn btn-secondary">Upravit</a>
        <a href="/delete_comment/{{comment.id}}" class="btn btn-danger">Smazat</a>
        {% endif %}
      </div>
      {% endfor%}
    </center>
    {% else %}
      <h1>uživatel {{user.username}} nemá žádné komentáře</h1>
    {% endif %}

    </div>





  </div>
</div>
 
</div>

{% endblock content %}
