{% extends 'base.html' %} {% block content %}

<div class="container-fluid d-flex justify-content-center log-div">
  <div class="col-4 w-25 my-auto mx-auto">
    <img
      class="img-fluid valut-tec-image"
      src="{{url_for('static', filename='images/valutboyleft.png')}}"
      alt=""
    />
  </div>
  <div class="col-4 w-25">
    <center>
      <img
        class="img-fluid valut-tec-image"
        src="{{url_for('static', filename='images/valut-tec.png')}}"
        alt=""
      />

      <h6 class="registrace">Registrace obyvatele valutu</h6>

      <form method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            name="email"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Přihlašovací email"
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Přihlašovací jméno:</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            aria-describedby="emailHelp"
            placeholder="Přihlašovací jméno"
          />
        </div>
        <div class="mb-3">
          <label for="Password1" class="form-label">Heslo:</label>
          <input
            type="password"
            name="password1"
            class="form-control"
            id="Password1"
            placeholder="Heslo"
          />
        </div>
        <div class="mb-3">
          <label for="Password2" class="form-label">Heslo:</label>
          <input
            type="password"
            name="password2"
            class="form-control"
            id="Password2"
            placeholder="Potvrdit Heslo"
          />
        </div>
        <button type="submit" class="btn btn-warning">Registrovat</button>
      </form>
    </center>
  </div>

  <div class="col-4 w-25 my-auto mx-auto">
    <img
      class="img-fluid valut-tec-image"
      src="{{url_for('static', filename='images/valutboyright.png')}}"
      alt=""
    />
  </div>
</div>

{% endblock %}
