{% extends 'base.html' %}
{% block content %}


<!--trophy header section start 👇-->

<div><img class="img-fluid" src="{{url_for('static', filename='images/trophy/fallout3trop.jpg')}}" alt=""></div>
<div class="trophy-header">1 <img class="trophy-head" src="{{url_for('static', filename='images/trophy/platinum.png')}}" alt=""> 1 <img class="trophy-head" src="{{url_for('static', filename='images/trophy/gold.png')}}" alt=""> 15 <img class="trophy-head" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt=""> 34 <img class="trophy-head" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt=""></div>

<!--trophy header section end 👆-->

<!--trophies section start 👇-->

<!--firs trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/0-platinum-trophy.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Platinum trophy</div>
        <div class="trophy-description"> Získej všech 50 trofejí/ Collect all other 50 Trophies for this Trophy</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/platinum.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!-- first trophy end 👆-->


<!--second trophy start 👇-->
  <div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/1-war-never-changes.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">War never changes</div>
        <div class="trophy-description"> Vstup do pustiny/ Enter The Wasteland</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
  <!-- second trophy end 👆-->


<!--third trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/2-when-freedom-calls.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">When Freedom Calls</div>
        <div class="trophy-description"> Dokonči "When Freedom Calls"/ Complete "When Freedom Calls"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--third trophy end 👆-->

<!--four trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/3-unlikely-valentine.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Unlikely Valentine</div>
        <div class="trophy-description"> Dokonči "Unlikely Valentine"/ Complete "Unlikely Valentine"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--four trophy end 👆-->

<!--five trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/4-reunions.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Reunions</div>
        <div class="trophy-description"> Dokonči "Reunions"/ Complete "Reunions"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">

<!--five trophy end 👆-->


<!--six trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/5-dangerous-minds.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Dangerous Minds</div>
        <div class="trophy-description"> Dokonči "Dangerous Minds"/ Complete "Dangerous Minds"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--six trophy end 👆-->

<!--seven trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/6-hunter-hunted.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Hunter/Hunted</div>
        <div class="trophy-description"> Dokonči "Hunter/Hunted"/ Complete "Hunter/Hunted"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--seven trophy end 👆-->

<!--eight trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/7-the-molecular-level.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">The Molecular Level</div>
        <div class="trophy-description"> Dokonči "The Molecular Level"/ Complete "The Molecular Level"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--eight trophy end 👆-->

<!--9 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/8-the-nuclear-option.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">The Nuclear Option</div>
        <div class="trophy-description"> Dokonči "The Nuclear Option"/ Complete "The Nuclear Option"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--9 trophy end 👆-->


<!--10 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/9-institutionalized.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Institutionalized</div>
        <div class="trophy-description"> Dokonči "Institutionalized"/ Complete "Institutionalized"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--10 trophy end 👆-->

<!--11 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/10-mankind-redefined.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Mankind-Redefined</div>
        <div class="trophy-description"> Dokonči "Mankind-Redefined"/ Complete "Mankind-Redefined"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--11 trophy end 👆-->

<!--12 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/11-powering-up.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Powering Up</div>
        <div class="trophy-description"> Dokonči "Powering Up"/ Complete "Powering Up"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--12 trophy end 👆-->

<!--13 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/12-nuclear-family.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Nuclear Family</div>
        <div class="trophy-description"> Dokonči "Nuclear Family"/ Complete "Nuclear Family"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--13 trophy end 👆-->


<!--14 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/13-the-first-step.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">The First Step</div>
        <div class="trophy-description"> Přidej se k Minutmentům/ Join the Minutemen</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--14 trophy end 👆-->


<!--15 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/14-taking-independence.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Taking Independence</div>
        <div class="trophy-description"> Dokonči "Taking Independence"/ Complete "Taking Independence"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--15 trophy end 👆-->

<!--16 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/15-old-guns.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Old Guns</div>
        <div class="trophy-description"> Dokonči "Old Guns"/ Complete "Old Guns"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--16 trophy end 👆-->


<!--17 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/16-semper-invicta.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Semper Invicta</div>
        <div class="trophy-description"> Přidej se k Bratrstvu oceli/ Join the Brotherhood of Steel

        </div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--17 trophy end 👆-->

<!--18 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/17-blind-betrayal.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Blind Betrayal</div>
        <div class="trophy-description"> Dokonči "Blind Betrayal"/ Complete "Blind Betrayal"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--18 trophy end 👆-->

<!--19 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/18-ad-victoriam.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Ad Victoriam</div>
        <div class="trophy-description"> Dokonči "Ad Victoriam"/ Complete "Ad Victoriam"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--19 trophy end 👆-->

<!--20 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/19-tradecraft.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Tradecraft</div>
        <div class="trophy-description"> Přidej se k Železnici / Join the Railroad

        </div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--20 trophy end 👆-->


<!--21 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/20-underground-undercover.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Underground Undercover</div>
        <div class="trophy-description"> Dokonči "Underground Undercover"/ Complete "Underground Undercover"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--21 trophy end 👆-->


<!--22 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/21-rockets-red-glare.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Rockets' Red Glare</div>
        <div class="trophy-description"> Dokonči "Rockets' Red Glare"/ Complete "Rockets' Red Glare"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--22 trophy end 👆-->


<!--23 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/22-sanctuary.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Sanctuary</div>
        <div class="trophy-description"> Dokonči "Sanctuary"/ Complete "Sanctuary"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--23 trophy end 👆-->


<!--24 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/23-community-organizer.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Community Organizer</div>
        <div class="trophy-description"> Ally with 3 Settlements/ Staň se spojencem tří osad"</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--24 trophy end 👆-->

<!--25 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/24-benevolent-leader.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Benevolent Leader</div>
        <div class="trophy-description"> Dosáhni maximální spokojenosti v osadě/ Reach Maximum Happiness in a Large Settlement</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--25 trophy end 👆-->


<!--26 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/25-gun-for-hire.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Gun-For-Hire</div>
        <div class="trophy-description"> Dokonči 10 vedlejších úkolů/ Complete 10 Side Quests</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--26 trophy end 👆-->

<!--27 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/26-mercenary.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Mercenary</div>
        <div class="trophy-description"> Dokonči 50 různých úkolů/ Complete 50 Misc. Objectives</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--27 trophy end 👆-->

<!--28 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/27-scavver.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Scavver</div>
        <div class="trophy-description"> Shromáždi 1000 surovin použitelných na výrobu/ Gather 1000 Resources Used For Crafting</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--28 trophy end 👆-->

<!--29 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/28-what-s-yours-is-mine.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">What's Yours Is Mine</div>
        <div class="trophy-description"> Vypáči 50 zámků/ Pick 50 Locks</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--29 trophy end 👆-->

<!--30 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/29-robco-s-worst-nightmare.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">RobCo's Worst Nightmare</div>
        <div class="trophy-description"> Hekni 50 terminálů/ Hack 50 Terminals</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--30 trophy end 👆-->

<!--31 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/30-armed-and-dangerous.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Armed and Dangerous</div>
        <div class="trophy-description"> Vytvoř 50 zbraňových modifikací/ Create 50 Weapon Mods</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--31 trophy end 👆-->

<!--32 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/31-wasteland-d-i-y-.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Wasteland D.I.Y.</div>
        <div class="trophy-description"> Vytvoř 100 předmětů/ Craft 100 Items</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--32 trophy end 👆-->

<!--33 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/32-never-go-it-alone.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Never Go It Alone</div>
        <div class="trophy-description"> Najmi 5 různých společníků/ Recruit 5 Separate Companions</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--33 trophy end 👆-->

<!--34 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/33-lovable.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Lovable</div>
        <div class="trophy-description"> Dosáhni maximální spřízněnosti se společníkem/ Reach Maximum Relationship Level with a Companion</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--34 trophy end 👆-->

<!--35 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/34-fix-er-upper.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Fix-Er-Upper</div>
        <div class="trophy-description"> Postav 100 předmětů z workshopu/ Build 100 Workshop Items</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--35 trophy end 👆-->

<!--36 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/35-future-retro.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Future Retro</div>
        <div class="trophy-description"> Zahraj si hru z holopásky/ Play a Holotape Game</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--36 trophy end 👆-->

<!--37 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/36--the-harder-they-fall.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">…The Harder They Fall</div>
        <div class="trophy-description"> Zabij 5 gigantických stvoření/ Kill 5 Giant Creatures</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--37 trophy end 👆-->

<!--38 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/37-ranger-corps.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Ranger Corps</div>
        <div class="trophy-description"> Objev 100 lokací/ Discover 100 Locations</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--38 trophy end 👆-->

<!--39 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/38-print-s-not-dead.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Print's Not Dead</div>
        <div class="trophy-description"> Přečti si 20 magazínů/ Read 20 Magazines</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--39 trophy end 👆-->

<!--40 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/39-prankster-s-return.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Prankster's Return</div>
        <div class="trophy-description"> Umísti granát nebo minu při kapsářství/ Placed A Grenade Or Mine While Pickpocketing</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--40 trophy end 👆-->

<!--41 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/40-masshole.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Masshole</div>
        <div class="trophy-description"> Zabij 300 lidí/ Kill 300 People</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--41 trophy end 👆-->

<!--42 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/41-animal-control.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Animal Control</div>
        <div class="trophy-description"> Zabij 300 zvířat/ Kill 300 Creatures</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--42 trophy end 👆-->

<!--43 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/42-homerun-.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Homerun!</div>
        <div class="trophy-description"> Dej Homerun/ Get a Homerun</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--43 trophy end 👆-->

<!--44 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/43-touchdown-.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Touchdown!</div>
        <div class="trophy-description"> Dej Touchdown/ Get a Touchdown</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--44 trophy end 👆-->

<!--45 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/44-they-re-not-dolls-.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">They're Not Dolls…</div>
        <div class="trophy-description"> Nazbírej 10 Valut-Tec Bambulek/ Collect 10 Vault-Tec Bobbleheads</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--45 trophy end 👆-->

<!--46 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/45--they-re-action-figures.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">…They're Action Figures</div>
        <div class="trophy-description"> Nazbírej 20 Valut-Tec Bambulek/ Collect 20 Vault-Tec Bobbleheads</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--46 trophy end 👆-->

<!--47 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/46-born-survivor.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Born Survivor</div>
        <div class="trophy-description"> Dosáhni úrovně 5/ Reach Level 5</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--47 trophy end 👆-->

<!--48 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/47-commonwealth-citizen.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Commonwealth Citizen</div>
        <div class="trophy-description"> Dosáhni úrovně 10/ Reach Level 10</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/bronze.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--48 trophy end 👆-->

<!--49 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/48-unstoppable-wanderer.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Unstoppable Wanderer</div>
        <div class="trophy-description"> Dosáhni úrovně 25/ Reach Level 25</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--49 trophy end 👆-->

<!--50 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/49-legend-of-the-wastes.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Legend Of The Wastes</div>
        <div class="trophy-description"> Dosáhni úrovně 50/ Reach Level 50</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/silver.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--50 trophy end 👆-->

<!--51 trophy start 👇-->
<div class="container trophy-container">
    <div class="row">
      <div class="col-2">
        <img class="trophy-complete" src="{{url_for('static', filename='images/trophy/50-prepared-for-the-future.png')}}" alt="">
      </div>
      <div class="col-8">
        <div class="trophy-name">Prepared for the Future</div>
        <div class="trophy-description"> Rozhodni o osudu pustiny/ Decide the Fate of the Commonwealth</div>
      </div>
      <div class="col-2">
        <img class="trophy-list" src="{{url_for('static', filename='images/trophy/gold.png')}}" alt="">
      </div>
    </div>
  </div>

  <hr class="trophy-hr">
<!--51 trophy end 👆-->


<!--trophies section end 👆-->

{% endblock %}